hr {
    margin: 1rem 0;
    height: 2px;
    background: linear-gradient(90deg,rgb(227,73,56) 0,rgba(168,35,21,0));
    border: 0;
}

.ability-array {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30rem;

    .ability {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ability-name {
        font-weight: 700;
    }
}

.action-name {
    font-size: 1.1em;
    font-weight: 700;
}
