#table-wrapper {
    padding: 0em 2em;
    max-width: 60em;
    margin: 0;
    border-top: .5em solid rgb(227,73,57);
    border-bottom: .5em solid rgb(227,73,57);
    margin-top: 1em;
    padding: 1em;
    font-size: 16px;
    width: 100%;
    background: rgb(255, 255, 255);

    h2 {
        margin-top: 1.2em;
        border-bottom: 3px solid #e74c3c;
        padding-bottom: .25em;
        font-size: 1.6em;
    }
}

#list-container {
    width: 100%;

    table {
        border-top: .5em solid rgb(227,73,57);
        border-bottom: .5em solid rgb(227,73,57);
        margin-top: 1em;
        border-spacing: .5em;
        border-collapse: collapse;
        background-color: rgb(255, 255, 255);
        font-size: 16px;
        width: 100%;

        tr {
            border-bottom: 1px solid black;
        }

        td {
            vertical-align: top;
        }

        td, th {
            padding: .5em;
            text-align: left;
        }
    }

    .table-header {
        padding: .5em;
    }

    .list-item {
        border-bottom: 1px solid #9f9f9f;
    }    
}


