nav {
    display: flex;
    gap: 2em;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(87, 83, 83);
    
    h1 {
        font-size: 1.6em;
    }
    // Logo
    #logo img {
        height: 5em;
    }

    // Search
    #search-container {
        width: 100%;
        position: relative;
        display: flex;
    }

    #search-container #search-form {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #search-input {
        width: 100%;
        border: 3px solid rgb(251,89,71);
        border-right: none;
        padding: 5px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

    #search-button {
        width: 40px;
        height: 100%;
        border: 1px solid rgb(251,89,71);
        background: rgb(251,89,71);
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }
}


