#links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    gap: 5em;

    img {
        height: 100px;
    }

    li {
        list-style-type: none
    }
}