.App {
  text-align: center;
}

body {
  background-color: rgb(209,192,167);
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: 'Gideon Roman', cursive;
}

#main-content {
  display: flex;
}

#content-container {
  width: 100%;
}